/* Top section */
.container {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 65px;
    height: 65px;
    margin-right: 10px;
    margin-left: 5px;
}

.title {
    font-family: "Freestyle Script";
    font-size: 36px;
    color: black;
    margin: 0;
}

.buttons {
    font-size: 24px;
    color: black;
    margin-left: auto;
}

/* Menu Bar */
.menu-bar {
    background-color: #AFABAB;
    text-align: center;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

/* Blue Box */
.blue-box {
    background-color: #8FAADC;
    min-height: calc(100vh - 40px);
    padding: 20px;
    border: 1px solid black;
}

/* Create New User Box */
.user-box {
    background-color: #D9D9D9;
    padding: 20px;
    border: 1px solid black;
    height: 70vh;
    overflow-y: auto;
}

.user-box-title {
    font-size: 24px;
    text-align: center;
    color: black;
    margin-bottom: 75px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.label-container {
    display: flex;
    align-items: center;
    /*margin-bottom: 65px;*/
    margin-bottom: 5vh;
}

.label {
    color: black;
    width: 150px;
    margin-right: 10px;
}

.input-field {
    width: 300px;
}

.submit-button {
    text-align: center;
}

/* Forgot Password Popup */
.forgot-password-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1000; /* Ensure the popup appears above other content */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: red; /* Change color on hover */
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the popup is above other elements */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}

.popup-content h3 {
    margin-top: 0;
}

/*just to center items & space them a bit*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-color: red;
    border-style: solid;*/
    margin: 30px;
    padding: 30px;
}

.email {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: black solid;
    border-width: 1.25px;
    cursor: text;
    font-size: 16px;
    text-align: left;
    width: 800px; /* Adjust width as needed */
    margin: 10px auto; /* Add margin to space out text areas */
    display: block; /* Ensure text areas are stacked vertically */
  }

.send {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: black solid;
    border-width: 1.25px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 120px; /* Adjust width as needed */
    margin: 10px auto; /* Add margin to space out text areas */
    display: block; /* Ensure text areas are stacked vertically */
}